<!DOCTYPE html>
<html>
    <% include ./partials/head.ejs %>
    <body>
        <% if (currentUser) { %>
        <% include ./partials/nav.ejs %>
        <% include ./partials/userHome.ejs %>
        <% } else { %>
        <% include ./partials/header.ejs %>
        <% include ./partials/nav.ejs %>
        <div class="container row">
            <div class="container col s6">
                <h4>About</h4>
                <p class="flow-text">
                    A social media service where people post small task or odd jobs for people to do for money.
                </p>
                <a class="btn green" href="/user/new">Register</a>
            </div>
            <div class="container col s6">
                <h4>Log In</h4>
                <form action="/session" method="POST">
                    Email: <input type="text" name="email" /><br>
                    Password: <input type="password" name="password" /><br>
                    <input type="submit" value="Log In">
                </form>
            </div>
        </div>
        <% } %>
    </body>
</html>
