<!DOCTYPE html>
<html>
    <% include ./partials/head.ejs %>
    <body>
        <h1>Help Me Out</h1>
        <form>
            Email: <input type="text" name="email" /></br>
            Password: <input type="password" name="password" /></br>
        </form>
    </body>
</html>
