<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Help Me Out</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    </head>
    <body>
        <h1>Help Me Out</h1>
        <form>
            Email: <input type="text" name="email" /></br>
            Password: <input type="password" name="password" /></br>
        </form>
    </body>
</html>
