<!DOCTYPE html>
<html>
    <% include ./partials/head.ejs %>
    <body>
        <% include ./partials/nav.ejs %>
        <h1>Jobs</h1>
        <ul>
            <% for (let i = 0; i < Jobs.length; i++) { %>
            <li>
                <a href="/job/<%= Jobs[i].id %>"><%= Jobs[i].title %></a>
                <p>Author: <%= Jobs[i].author %></p>
            </li>
            <% } %>
        </ul>
    </body>
</html>
