<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Help Me Out</title>
    </head>
    <body>
        <a href="/">Home</a>
        <h1>Create a Job</h1>
        <% if (currentUser) { %>
        <form>
            Title: <input type="text" name="title"><br>
            Description: <input type="text" name="description"><br>
            Deadline: <input type="date" name="deadline"><br>
            Location: <input type="text" name="Location"><br>
            Skills Required: <input type="text" name="skills" placeholder="i.e. HTML,CSS,Javascript"><br>
            Price: $<input type="number" name="price"><br>
            Image (link): <input type="text" name="img"><br>
            <input type="submit" value="Create Job">
        </form>
        <% } else { %>
            Must log in to create a job.
        <% } %>
    </body>
</html>
