<!DOCTYPE html>
<html>
    <% include ./partials/head.ejs %>
    <body>
        <a href="/">Home</a>
        <h1>Users</h1>
        <ul>
            <% for (let i = 0; i < Users.length; i++) { %>
            <li>
                <a href="/user/<%= Users[i].id %>"><%= Users[i].name %></a>
                <a href="/user/<%= Users[i].id %>/edit">Edit</a>
                <form action=""
            </li>
            <% } %> 
        </ul>
    </body>
</html>
